      <section class="hero" id="hero">
        <div class="container" style="background: rgba(0, 0, 0, 0.6)">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
              <!-- <h1 class="animated bounceInDown">Coursera Report Card App</h1> -->
              <h1 class="animated bounceInDown">Finish It!</h1>              
              <p class="animated fadeInUpDelay">Don't leave your MOOC unfinished.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center" style="padding-top: 100px">
              <div class="row"><a href="/auth/coursera" class="login-link"><h3 class="login-text">Sign in with <img width="100px" height="100px" src="https://cdn1.iconfinder.com/data/icons/simple-icons/4096/coursera-4096-black.png" style="display:inline"></h3></a></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="download-now" id="getstarted">
        <div class="container">
          <div class="row">
            <div class="col-md-8 wp1">
              <h1>
              Track and get tracked of your MOOC progress
              </h1>
              <p>Everyday thousands of people join a coursera course in a hope and sometimes a strong commitment to complete the course. But soon the interest goes off and you start skipping the material and shifting it to a lower priority. So how do we help?</p>
              <p>Login with your coursera account. Now you can see all your courses here and add deadlines to it. Check off the deadlines when you are done with it. But, all your stats are visible to the world. So be ready to face the shame for not completing that AI course.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="testimonials" id="media">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <div id="firstSlider">
                <ul class="slides">
                  <li>
                    <div class="avatar"><img src="/assets/av-blaz.png" alt="Blaz Robar"></div>
                    <h1>I tried to skip a course, but after this app, I was too afraid of not getting married because of that unfinished course.</h1>
                  </li>
                  <li>
                    <div class="avatar"><img src="/assets/av-pete.png" alt="Pete Finlan"></div>
                    <h1>The only way to get your specialization done and still not get killed by Loch Ness.</h1>
                  </li>
                  <li>
                    <div class="avatar"><img src="/assets/av-doge.png" alt="Doge Finbar"></div>
                    <h1>Much courses, many deadlines, so app. Wow.</h1>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="design" id="design">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-3">
                <div class="flat-box">
                  <div class="colourway colour2">
                  <img src = "/assets/ankurPic.jpg">
                  </div>
                  <p class="title">Ankur Singh</p>
                  <p class="feature-text">I sleep</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="flat-box">
                  <div class="colourway colour1">
                    <img src = "/assets/ambarPic.jpg">
                  </div>
                  <p class="title">Ambar Pal</p>
                  <p class="feature-text">I joke</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="flat-box">
                  <div class="colourway colour3">
                    <img src = "/assets/shreyPic.jpg">
                  </div>
                  <p class="title">Shrey Bagroy</p>
                  <p class="feature-text">I (almost) code</p>
                </div>
              </div>
              <div class="col-md-3 design-content">
                <h1>The Team</h1>
                <p>Awesome developers of an awesome app. </p>
              </div>
            </div>
          </div>
        </div>
      </section>