<h3>User</h3>
<%= link_to "Update my courses", update_courses_path(@user) %>
<p>Name: <%= @user.name %> </p>
<p> Enrollments: <br/>
	<% @courses.each do |f| %> 
		=> <%= link_to f.name, f %> <br/>
			<% f.deadlines.each do |g| %>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= g.title %> <% if g.completed==1 %> | Done! <% elsif g.completed== -1%>| Failed! <% end %> <br/>
			<% end %>
			<br/>
	<% end %>
 </p>
